<ion-tabs>

  <ion-tab-bar class="footerColor" slot="bottom">
    <ion-tab-button class="iconColor" tab="tab1">
      <ion-icon name="calculator"></ion-icon>
      <ion-label>Laskuri</ion-label>
    </ion-tab-button>

    <ion-tab-button class="iconColor" tab="tab2">
      <ion-icon name="filing"></ion-icon>
      <ion-label>Tallennetut</ion-label>
    </ion-tab-button>

    <ion-tab-button class="iconColor" tab="tab3">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>Info</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
