<ion-header>
  <ion-toolbar>
    <ion-title>
      Palkkalaskuri
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title text-center>Palkkalaskuri</ion-card-title>
        <ion-card-subtitle text-center>Syötä sopimuksesi {{ contractName }} tiedot</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Anna sopimukselle nimi</ion-label>
          <ion-input [(ngModel)]="contractName" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Bruttopalkka (€ / kk)</ion-label>
          <ion-input [(ngModel)]="contractSalary" type="numeric"></ion-input>
        </ion-item><br>
        <div no-pdding text-center *ngIf="contractSalary">
          <ion-button (click)="getPercentEstimate()" >Laske Netto</ion-button>
        </div>
      </ion-card-content>

      <ion-card no-padding class="welcome-card" padding *ngIf="valueCalculator.taxPercentEstimate">
        <ion-card-header no-padding>
          <h3 text-center><b>Nettopalkka: {{ contractSalary * (1 - (valueCalculator.taxPercentEstimate / 100)) | number:'1.0-0' }} €/kk </b></h3>
          <ion-card-subtitle text-center>Arvioitu veroprosentti: {{ valueCalculator.taxPercentEstimate | number:'1.0-0' }} %</ion-card-subtitle>
          <ion-card-subtitle text-center>Maksetut verot : {{ contractSalary * (valueCalculator.taxPercentEstimate / 100) | number:'1.0-0' }} €/kk</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content text-center>
            <ion-button padding (click)="saveContractData()">Tallenna sopimus</ion-button>
        </ion-card-content>
      </ion-card>

      <ion-card no-padding padding  *ngIf="dataSaved">
        <ion-card-header>
          <ion-title text-center>Tiedot tallennettu!</ion-title><br>
          <ion-card-subtitle text-center>Voit Lisätä ja tallentaa uuden tiedon tai tarkastella jo tallennettuja tietoja erittely -välilehdellä</ion-card-subtitle>
        </ion-card-header>
      </ion-card>


    </ion-card>

   
</ion-content>
