<ion-header>
  <ion-toolbar>
    <ion-title>
      Palkkalaskuri
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title text-center>Palkkalaskuri</ion-card-title>
        <ion-card-subtitle text-center>Syötä sopimuksesi {{ contractName }} tiedot</ion-card-subtitle>
        
        
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Anna sopimukselle nimi</ion-label>
          <ion-input [(ngModel)]="contractName" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Bruttopalkka (€ / kk)</ion-label>
          <ion-input [(ngModel)]="contractSalary" type="numeric"></ion-input>
        </ion-item>
        <div *ngIf="contractSalary">
          <ion-button (click)="getPercentEstimate()" expand="block">Arvioi veroprosentti ja laske nettopalkka</ion-button>
        </div>
      </ion-card-content>

      <div padding *ngIf="valueCalculator.taxPercentEstimate">
        <h3>Käteen jäävä osuus: {{ contractSalary * (1 - (valueCalculator.taxPercentEstimate / 100)) | number:'1.0-0' }} € / kk <br></h3>
        <h5>Arvioitu veroprosentti: {{ valueCalculator.taxPercentEstimate }} % <br></h5>
        <h5>Maksetut verot : {{ contractSalary * (valueCalculator.taxPercentEstimate / 100) | number:'1.0-0' }} € / kk  <br></h5>
        <ion-button (click)="saveContractData()" expand="block">Tallenna sopimus</ion-button>
      </div>
    </ion-card>

   
</ion-content>
